*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* main container */
.container{
    min-height: auto;
}
/* navbar */
.navbar{
    width:100%;
    background-color:rgb(246, 48, 73);
    padding:10px;
    display: flex;
    justify-content: space-between;
}
#logo{
    width:180px;
    height:60px;
}
.titles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.titles a{
    text-decoration: none;
    color:black;
    width:138px;
    height:40px;
    /* background-color: white; */
    padding: 11px;
    text-align: center;
    border-radius: 18px;
}
.titles a:hover{
    background-color: rgb(255, 255, 255,0.18);
    border-radius: 18px;
    transition: all 0.5s ease-in;
    backdrop-filter: blur(12px);
    box-shadow: 2px 2px 2px black;
}

/* home page section */
